{% extends "base-public.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}
{% block content %}
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      <section class="panel mt-30">
        <header class="panel-heading">
          <h2 class="panel-title">{% trans "Password Reset" %}</h2>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
        </header>
        <div class="panel-body">
          <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
          <div class="form-group mb-lg pd-20">
            <label class="col-sm-12 control-label">E-mail</label>
            <div class="col-sm-12">
              {{form.email | append_attr:"class:form-control input-lg"}}
              {{ form.email.errors }}
            </div>
          </div>
          <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

        </div>
        <footer class="panel-footer">
          <button class="btn btn-primary">{% trans 'Reset My Password' %}</button>
        </footer>
      </section>

  </form>
{% endblock %}
