{% load static %}
<header class="header">
      <div class="logo-container float-left">
        <a href="/" class="logo">
		      <img src="{% static 'assets/images/logo-light.png' %}" width="75" height="35" alt="Eventos" /> 
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
          data-fire-event="sidebar-left-opened">
          <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
      </div>
      <div class="header-right">
       <ul class="notifications">
          <li class="">
            <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell"></i>
              <span class="badge">2</span>
            </a>

            <div class="dropdown-menu notification-menu">
              <div class="notification-title">
                <span class="pull-right label label-default">2</span>
                Notificações
              </div>
              <div class="content">
                <ul>
                  <li>
                    <a href="#" class="clearfix">
                      <div class="image">
                        <i class="fa fa-group bg-success"></i>
                      </div>
                      <span class="title">Solicitação de inscrição</span>
                      <span class="message">Evento xxxx</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="clearfix">
                      <div class="image">
                        <i class="fa fa-lock bg-success"></i>
                      </div>
                      <span class="title">Cadastro empresa</span>
                      <span class="message">Nova empresa cadastrada</span>
                    </a>
                  </li>
                </ul>
                <hr>
              </div>
            </div>
          </li>
        </ul>

        <span class="separator"></span>
     
        <div id="userbox" class="userbox pull-right">
          <a href="#" data-toggle="dropdown">
            <figure class="profile-picture">
              <img src="{% static 'assets/images/!logged-user.jpg' %}" class="img-circle"
                data-lock-picture="assets/images/!logged-user.jpg" />
            </figure>
            <div class="profile-info">
              <span class="name">{{ request.user.username }}</span>
            </div>
            <i class="fa custom-caret"></i>
          </a>

          <div class="dropdown-menu">
            <ul class="list-unstyled">
              <li class="divider"></li>
              <li>
                <a role="menuitem" tabindex="-1" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i>Sair
                  do sistema</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </header>