{% load static %}
      <aside id="sidebar-left" class="sidebar-left">

        <div class="sidebar-header">
          <div class="sidebar-title">
            Menu de Navegação
          </div>
          <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
            data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
          </div>
        </div>

        <div class="nano">
          <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

              <ul class="nav nav-main">
                {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'company_list' %}">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <span>Empresas</span>
                  </a>
                </li>

                <li>
                  <a href="{% url 'event_list' %}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Eventos</span>
                  </a>
                </li>

                <li>
                  <a href="{% url 'question_list' %}">
                    <i class="fa fa-question" aria-hidden="true"></i>
                    <span>Perguntas</span>
                  </a>
                </li>

                <li>
                  <a href="{% url 'question_approved' %}">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Perguntas Aprovadas</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'raffle_event_list' %}">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <span>Sorteios</span>
                  </a>
                </li>

                <li style="
                        position: absolute;
                        bottom: 0;
                        width: 100%;">
                  <a href="{% url 'account_logout' %}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Sair do sistema</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>

            <script>
              // Maintain Scroll Position
              if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                  var initialPosition = localStorage.getItem('sidebar-left-position'),
                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                  sidebarLeft.scrollTop = initialPosition;
                }
              }
            </script>

          </div>
        </div>
      </aside>