{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs/jq-3.3.1/dt-1.10.18/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.cs" />
<style>
	.custom-table-head {
		background-color: transparent;
	}

	.custom-tr {
		color: #777
	}
</style>
{% endblock css %}
{% block content %}
<div class="col-md-12">
	<div class="btn-holder">
		<a id="raffle_makker" class="mb-xs mt-xs mr-xs btn btn-primary pull-right"
			href="{% url 'raffle_maker' event.id %}">
			<i class="fa fa-gift"></i>
			Realizar sorteio
		</a>
	</div>
	<div class="clear-right"></div>
	<section class="panel col-md-6">
		<header class="panel-heading">
			<h2 class="panel-title">Participantes</h2>
		</header>
		<div class="panel-body">
			{% if checkeds_in.count == 0 %}
			<div class="panel-body">
				<div class="modal-wrapper">
					<div class="modal-icon">
						<i class="fa fa-users"></i>
					</div>
					<div class="modal-text">
						<h4>Sem participantes</h4>
						<p>
							Nenhum participante foi identificado
						</p>
					</div>
				</div>
			</div>
			{% else %}
			<table id="example" class="display table table-no-more table-striped mb-none" style="width:100%">
				<thead class="custom-table-head">
					<tr class="custom-tr">
						<th class="text-left">Nome Completo</th>
						<th class="text-left">Empresa</th>
					</tr>
				</thead>
				<tbody>
					{% for checked_in in checkeds_in %}
					<tr>
						<td data-title="Nome Completo" class="text-left">{{checked_in.person.name}}</td>
						<td data-title="E-mail" class="text-left">{{checked_in.person.company}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</section>
	<section class="panel col-md-6">
		<header class="panel-heading">
			<h2 class="panel-title">Ganhadores</h2>
		</header>
		<div class="panel-body">
			{% if winners.count == 0 %}
			<div class="panel-body">
				<div class="modal-wrapper">
					<div class="modal-icon">
						<i class="fa fa-trophy"></i>
					</div>
					<div class="modal-text">
						<h4>Sem ganhadores</h4>
						<p>
							Realize o sorteio para ver os ganhadores
						</p>
					</div>
				</div>
			</div>
			{% else %}
			<table class="display table table-no-more table-striped mb-none" style="width:100%">
				<thead class="custom-table-head">
					<tr class="custom-tr">
						<th class="text-left">Nome Completo</th>
						<th class="text-left">Empresa</th>
						<th class="text-left">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for winner in winners %}
					<tr>
						<td data-title="Nome Completo" class="text-left">{{winner.person.name}}</td>
						<td data-title="E-mail" class="text-left">{{winner.person.company}}</td>
						<td data-title="E-mail" class="text-left">
							<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Excluir">
								<a class="btn-sm waves-effect waves-light  modal-basic btn btn-danger"
									href="#modalWarning-{{ winner.person.id }}">
									<i class="fa fa-trash"></i>
								</a>
							</span>
							<div id="modalWarning-{{ winner.person.id }}"
								class="modal-header-color modal-block modal-block-danger mfp-hide">
								<section class="panel">
									<header class="panel-heading">
										<h2 class="panel-title">Cuidado!</h2>
									</header>
									<div class="panel-body">
										<div class="modal-wrapper">
											<div class="modal-icon">
												<i class="fa fa-trash"></i>
											</div>
											<div class="modal-text">
												<h4>Exluir <span class="f-bold">{{ winner.person.name }}?</span></h4>
												<p>Uma vez exluído, todos os dados serão perdidos!</p>
											</div>
										</div>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-md-12 text-right">
												<a href="{% url 'raffle_delete' event.id winner.person.id %}" type
													class="btn btn-danger">Excluir</a>
												<button class="btn btn-defaut modal-dismiss">Cancelar</button>
											</div>
										</div>
									</footer>
								</section>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</section>
</div>
{% endblock content %}


{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/w/bs/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#example').DataTable({
			"language": {
				"sEmptyTable": "Nenhum registro encontrado",
				"sProcessing": "A processar...",
				"sLengthMenu": "Mostrar _MENU_ registos",
				"sZeroRecords": "Não foram encontrados resultados",
				"sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
				"sInfoEmpty": "Mostrando de 0 até 0 de 0 registos",
				"sInfoFiltered": "(filtrado de _MAX_ registos no total)",
				"sInfoPostFix": "",
				"sSearch": "Procurar:",
				"oPaginate": {
					"sFirst": "Primeiro",
					"sPrevious": "Anterior",
					"sNext": "Seguinte",
					"sLast": "Último"
				},
				"oAria": {
					"sSortAscending": ": Ordenar colunas de forma ascendente",
					"sSortDescending": ": Ordenar colunas de forma descendente"
				}
			},
			"searching": false,
			"lengthChange": false,
			"pageLength": 20,
		});
	});
</script>
<script src="{% static 'assets/vendor/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
<script src="{% static 'assets/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/javascripts/ui-elements/examples.modals.js' %}"></script>
<script>
	$("#raffle_makker").click(function () {
		console.log("teste")
	});
</script>
{% endblock scripts %}