{% extends 'base.html' %}
{% load static %}
{% block content %}

<form>
  <section class="panel mt-30">
    <div class="logo-personalizada">
      <img src="{% static 'assets/images/logo.png' %}" style="width:100%;" alt="Porto Admin" />
    </div>
    <header class="panel-heading">
      <h2 class="panel-title">{{ event.title }}</h2>
    </header>
    <div class="panel-body">
      <h3>Oops! Parece que este evento atingiu a lotação máxima!</h3>
      <p>Procure a administração do evento.</p>
    </div>
  </section>
</form>
{% endblock content %}
