{% extends 'base-public.html' %}
{% load static %}
{% block content %}
<style>
  .logo-personalizada {
    width: 50%;
    margin: auto;
    margin-bottom: auto;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
</style>
<form>
  <section class="panel mt-30">
    <div class="logo-personalizada">
      <img src="{% static 'assets/images/logo.png' %}" style="width:100%;" alt="Porto Admin" />
    </div>
    <header class="panel-heading">
      <h2 class="panel-title">{{ event.title }}</h2>
    </header>
    <div class="panel-body">
      <h3>Oops! Ainda estamos processando a sua inscrição.</h3>
      <p>Você receberá um e-mail quando o processo for finalizado.</p>
    </div>
  </section>
</form>
{% endblock content %}
