{% load static i18n %}
<!doctype html>
<html class="fixed sidebar-left-collapsed">

<head>  
  {% include 'partials/_head.html' %}

  <title>Eventors</title>

  {% block css %}  {% endblock css %}
</head>

<body>
  <main class="body">
    
    {% include 'partials/_header.html' %}

    <div class="inner-wrapper">
      
      {% include 'partials/_sidebar.html' %}

      <div class="main-tittle">

        {% block title %} {% endblock title %}

      </div>

      <section role="main" class="content-body">

        {% block content %}
          <div align="text-center">
            <h2>Vasio</h2>
          </div>
        {% endblock content %}

      </section>
    </div>

  </main>

  {% include 'partials/_scripts.html' %}
  
</body>
</html>
